@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
   font-family: 'Gowun Dodum', sans-serif;
}

.mytitle {
   background-color: white;
   color: black;

   height: 150px;

   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-between;

   background-position: center;
   background-size: cover;

   border: 1px solid black;
}

.logo {
   background-color: white;
   color: black;
   font-size: 50px;
   margin: auto 50px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1,
h2 {
    color: #333;
}

.mycards {
    font-size: 30px;
}