@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
   font-family: 'Gowun Dodum', sans-serif;
}

.mytitle {
   background-color: white;
   color: black;

   height: 150px;

   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-between;

   background-position: center;
   background-size: cover;

   border: 1px solid black;
}

.logo {
   background-color: white;
   color: black;
   font-size: 50px;
   margin: auto 50px;
}

body {
    font-family: Arial, sans-serif;
}

.big-container {
    width: 1800px;
    min-height: 600px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 100px;
    margin-left: 100px;
}

.mycards {
    font-size: 30px;
    width: 1200px;
    border: solid 1px;
    border-color: gainsboro;
    border-radius: 2%;
    padding: 30px;
    margin-right: 80px;
}

.mycards img {
    margin-bottom: 20px;
}

.container {
    margin: auto;
}

h1,
h2 {
    color: #333;
}