@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
   font-family: 'Gowun Dodum', sans-serif;
}

.mytitle {
   background-color: white;
   color: black;

   height: 150px;

   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-between;

   background-position: center;
   background-size: cover;

   border: 1px solid black;
}

.logo {
   background-color: white;
   color: black;
   font-size: 50px;
   margin: auto 50px;
}

.searchBar {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   align-items: center;
   margin-top: 55px;
}

.searchBar input {
   padding: 5px;
   width: 300px;
}

.searchBar button {
   padding: 5px 10px;
   margin-left: 5px;
}

.member {
   background-color: white;
   color: black;
   font-size: 18px;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;

   padding: 10px;
}

.member p {
   margin-right: 10px;
   cursor: pointer;
}

.card-rating {
   color: gray;
}

.mycards {
   width: 1500px;
   padding: 20px 20px;
   margin: 20px auto 20px auto;
}

.card {
   color: black;
   background-color: black;
   padding: 10px;
   margin: 10px;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.pageButtons {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

#prevPageButton,
#nextPageButton {
   margin: 10px;
   margin-bottom: 30px;
   padding: 5px;
   font-size: 15px;
}